%html
  %head
    %title
      Game - developed by Jef Vlamings
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/style.css'}
    %script{src: 'js/app.js'}
  %body
    %h1
      Shark game
    %canvas#scene